---
title: "Landing Page"
---

<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ page.title }} • Natura11y</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=PT+Serif:ital@0;1&display=swap" rel="stylesheet">

    <!-- Natura11y CSS and Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/cavidano/natura11y@main/dist/css/natura11y.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/cavidano/natura11y-icons@main/dist/natura11y-icons.min.css">

    <style>

        html {
            --body-max-width: 2000px;
            --html-background-color: var(--dark);
        }

        :root {
            --dark: black;
            --body-font-family: 'PT Serif', serif;
        }

        .aspect-ratio-custom {
            --aspect-ratio-custom: 4 / 2
        }

        .sans-serif {
            font-family: 'Inter', sans-serif;
        }
        
    </style>

</head>

<body class="theme-dark">

<header class="border-bottom" id="global-header" role="banner">

    <!-- Skip Navigation -->
    <a class="focusable-only" href="#skip-header-target">Skip Header</a>

    <div class="primary-nav--below--lg box-shadow-1 z-index-1500">

        <div class="primary-nav__logo">

            <a href="#1" title="Home" data-logo="brand">
                {% include logo-svg-placeholder.html %}
            </a>

        </div>

        <div class="primary-nav__actions">

            <button
                class="button button--icon-only mobile-menu-toggle"
                aria-label="Menu"
                data-toggle="collapse"
                data-target-toggle="#main-menu">
                    <span class="icon icon-menu"></span>
            </button>

            <div class="button-group">

                <a href="#1" class="button theme-secondary">
                    Button
                </a>

                <a class="button button--icon-only" href="#1" aria-label="Search">
                    <span class="icon icon-search" aria-hidden="true"></span>
                </a>

            </div>

        </div>
        
        <nav class="primary-nav__menu" aria-label="Main Menu" id="main-menu">

            <ul>
                <li>
                    <a href="#1">Link</a>
                </li>
                <li>
                    <a href="#1">Link</a>
                </li>
                <li>
                    <a href="#1">Link</a>
                </li>
                <li>
                    <a href="#1">Link</a>
                </li>
            </ul>

        </nav>

    </div>
    <!-- .primary navigation -->

    {% include language-select.html %}

</header>

<main class="overflow-hidden" id="skip-header-target">
    
    <section class="backdrop backdrop--fixed">

        <div class="backdrop__image gradient-veneer-bottom">
            <img class="opacity-50" src="/images/examples/backdrop-example-06.jpg" alt="Placeholder">
        </div>

        <div class="backdrop__cover text-align-center padding-y-5">

            <div class="container narrow margin-bottom-4">

                <h1 class="banner-headline text-shadow">
                    Banner Headline
                </h1>

            </div>

            <div class="container narrow medium--lg grid grid--column-3--lg gap-2">

                <div class="card" style="background-color: rgba(0,0,0,0.6)">

                    <div class="card__body">
                        <svg class="icon margin-x-auto margin-bottom-2 text-color-secondary">
                            <use href="#recycle"></use>
                        </svg>
                        <h2 class="h5">
                            Card Title
                        </h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit libero magni soluta illo.
                        </p>
                    </div>

                    <div class="card__foot border-top font-size-sm text-color-secondary">
                        <a class="button width-100" href="#1">
                            Primary Action
                        </a>                        
                    </div>

                </div>
                <div class="card" style="background-color: rgba(0,0,0,0.6)">

                    <div class="card__body">

                        <svg class="icon margin-x-auto margin-bottom-2 text-color-secondary">
                            <use href="#lightbulb"></use>
                        </svg>
                    
                        <h2 class="h5 text-shadow">
                            Card Title
                        </h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit libero magni soluta illo.
                        </p>
                    </div>
                    <div class="card__foot border-top font-size-sm text-color-secondary">
                        <a class="button width-100" href="#1">
                            Primary Action
                        </a>                        
                    </div>

                </div>

                <div class="card" style="background-color: rgba(0,0,0,0.6)">

                    <div class="card__body">
                        <svg class="icon margin-x-auto margin-bottom-2 text-color-secondary">
                            <use href="#heart"></use>
                        </svg>
                        <h2 class="h5">
                            Card Title
                        </h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit libero magni soluta illo.
                        </p>
                    </div>

                    <div class="card__foot border-top font-size-sm text-color-secondary">
                        <a class="button width-100" href="#1">
                            Primary Action
                        </a>                        
                    </div>


                </div>


            </div>

        </div>

    </section>
    <!-- .backdrop -->  

    <section class="container medium padding-y-4">

        <div class="grid grid--column-3--lg gap-1">

            <a href="#1" class="backdrop justify-content-end backdrop--fixed aspect-ratio-4x3 grid__colspan-2 grid__rowspan-2--lg">

                <div class="backdrop__image gradient-veneer-bottom">
                    <img class="opacity-30" src="/images/examples/backdrop-example-08.jpg" alt="Placeholder">
                </div>

                <div class="backdrop__cover text-shadow">

                    <div class="container medium margin-y-4">
                        <p class="sans-serif margin-bottom-1">
                            <strong>April 28th, 1981</strong> 
                        </p>
                        <h1 class="banner text-shadow">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </h1>
                    </div>

                </div>

            </a>
            <!-- .backdrop -->

            <a href="#1" class="backdrop justify-content-end backdrop--fixed aspect-ratio-4x3">

                <div class="backdrop__image gradient-veneer-bottom">
                    <img class="opacity-80" src="/images/examples/backdrop-example-07.jpg" alt="Placeholder">
                </div>

                <div class="backdrop__cover">

                    <div class="container medium margin-y-4">
                        <p class="sans-serif margin-bottom-1">
                            <strong>April 28th, 1981</strong> 
                        </p>
                        <h1 class="h5 text-shadow">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </h1>
                    </div>

                </div>

            </a>
            <!-- .backdrop -->

            <a href="#1" class="backdrop justify-content-end backdrop--fixed aspect-ratio-4x3">

                <div class="backdrop__image gradient-veneer-bottom">
                    <img class="opacity-80" src="/images/examples/backdrop-example-10.jpg" alt="Placeholder">
                </div>

                <div class="backdrop__cover">

                    <div class="container medium margin-y-4">
                        <p class="sans-serif margin-bottom-1">
                            <strong>April 28th, 1981</strong> 
                        </p>
                        <h1 class="h5 text-shadow">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </h1>
                    </div>

                </div>

            </a>
            <!-- .backdrop -->
            
        </div>
        <!-- .grid -->

    </section>
    <!-- .container -->

    <section class="theme-white padding-y-5">

        <div class="container narrow medium--lg">
            <div class="grid gap-3">
                <div class="grid__colspan-2--lg">
                    <h2 class="width-50--lg">Lorem ipsum dolor sit amet consectetur</h2>
                </div>                    <img src="/images/examples/backdrop-example-10.jpg" alt="">

                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus obcaecati repellendus tempora maxime architecto sint atque inventore, repellat animi reprehenderit non aperiam eligendi.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, illo dolorem laborum, corporis suscipit eveniet <a href="#1">dicta nam itaque omnis</a>.
                    </p>
                </div>
            </div>
        </div>
        <!-- .container -->

    </section>

    <section class="container medium margin-y-5">

        <div class="grid grid--gap-1 grid--cell-6--md grid--cell-4--lg">

            <div class="grid__cell">
                <a class="button button--has-icon--disperse theme-primary" href="#1">
                    <span class="button__title">Action</span>
                    <span class="icon icon-arrow-right" aria-hidden="true"></span>
                </a>
            </div>
            <!-- .grid__cell -->

            <div class="grid__cell">
                <a class="button button--has-icon--disperse theme-primary" href="#1">
                    <span class="button__title">Action</span>
                    <span class="icon icon-arrow-right" aria-hidden="true"></span>
                </a>
            </div>
            <!-- .grid__cell -->
            
            <div class="grid__cell">
                <a class="button button--has-icon--disperse theme-primary" href="#1">
                    <span class="button__title">Action</span>
                    <span class="icon icon-arrow-right" aria-hidden="true"></span>
                </a>
            </div>
            <!-- .grid__cell -->

            <div class="grid__cell">
                <a class="button button--has-icon--disperse theme-primary" href="#1">
                    <span class="button__title">Action</span>
                    <span class="icon icon-arrow-right" aria-hidden="true"></span>
                </a>
            </div>
            <!-- .grid__cell -->

            <div class="grid__cell">
                <a class="button button--has-icon--disperse theme-primary" href="#1">
                    <span class="button__title">Action</span>
                    <span class="icon icon-arrow-right" aria-hidden="true"></span>
                </a>
            </div>
            <!-- .grid__cell -->

            <div class="grid__cell">
                <a class="button button--has-icon--disperse theme-primary" href="#1">
                    <span class="button__title">Action</span>
                    <span class="icon icon-arrow-right" aria-hidden="true"></span>
                </a>
            </div>
            <!-- .grid__cell -->

        </div>
        <!-- .grid -->

    </section>

</main>

    <!-- Natura11y Javascript -->
    <script src="https://cdn.jsdelivr.net/gh/cavidano/natura11y@main/dist/js/natura11y.js"></script>

    <script>
        const ajax = new XMLHttpRequest();

        ajax.open('GET', '{{ site.url }}/lib/css/natura11y-icons-sprite.svg', true);
        ajax.send();
        ajax.onload = () => {
            const div = document.createElement('div');
            div.className = 'natura11y-icons-sprite';
            div.innerHTML = ajax.responseText;
            document.body.insertBefore(div, document.body.childNodes[0]);
        };
    </script>

</body>

</html>