/*

In this file:

// A. Modules
// B. Variables
// C. Width Utilities
// D. Height Utilities

*/

//////////////////////////////////////////////
// A. Modules
//////////////////////////////////////////////

@use "sass:map";
@use "../breakpoints/style" as breakpoints;

//////////////////////////////////////////////
// B. Variables
//////////////////////////////////////////////

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap');

:root {
    --body-font-family: 'Poppins';
    
    --body-font-weight-normal: 400;
    --body-font-weight-medium: 600;
    --body-font-weight-bold: 800;

    --body-font-size: 20px;
    --body-line-height: 1.5;
    --header-line-height: 1.275;

    // Banner Headline

    --banner-headline-font-size: calc(var(--body-font-size) * 3.5);
    --banner-headline-font-weight: var(--body-font-weight-normal);
    
    // Paragraph

    --paragraph-margin-bottom: 1.5em;
}

// Code Font

:root {
	--code-font-family:
        'Roboto Mono',
        Consolas,
        Monaco,
        'Andale Mono',
        'Ubuntu Mono',
        monospace;
}

.code-font {
    font-family: var(--code-font-family);
}

// Arabic Font

:root {
	--arabic-font-family: 'Amiri', serif;
}

.arabic-font {
    font-family: var(--arabic-font-family);
}

[class*="article--"]{
    --article-sidebar-width: 250px;
}

//////////////////////////////////////////////
// C. Theme Styles
//////////////////////////////////////////////

a[data-logo="brand"] {
    display: inline-block !important;
    color: inherit;
    
    p {
        font-weight: bold;
        line-height: 1.2;
    }

    svg > g {
        transition: fill 0.3s ease;
    }

    &:focus, 
    &:hover {
        .natur {
            fill: var(--secondary);
        }

        .a11y {
            fill: var(--primary);
        }
        
        .tagline {
            fill: hsla(0, 0%, 0%, 0.5)
        }
    }
}

#features .backdrop {
    --backdrop-fixed-height: 600px;

    @include breakpoints.breakpoints-up(lg) {
        --backdrop-fixed-height: 800px;
    }
}

.accessibility-spotlight {
   color: var(--a11y-link);
}

.browser {
    --browser-bar-height: 2rem;

    overflow: hidden;
    border-radius: 0.5rem;

    iframe {
        border: none;
        width: 100%;
        display:block;
        min-height: 200px;
    }
}

.browser__bar{
    display: flex;
    flex-direction: row;
    height: var(--browser-bar-height);
    
    background-color: hsla(200, 10%, 70%, 0.375);

    > div{
        display: flex;
        flex-direction: row;
        margin-left: calc(var(--browser-bar-height) * 0.25);
        margin-right: calc(var(--browser-bar-height) * 0.25);
    }

    > div > span{

        align-self: center;

        height: calc( var(--browser-bar-height) * 0.375 );
        width: calc( var(--browser-bar-height) * 0.375 );
        
        margin-left: 0.25rem;
        margin-right: 0.25rem;
        
        display: inline-block;
        border-radius: 50%;

        background-color: hsla(0, 0%, 0%, 0.5);
        opacity: 0.5;

        &:nth-child(1) {
            background-color: red;
        }

        &:nth-child(2) {
            background-color: orange;
        }

        &:nth-child(3) {
            background-color: green;
        }
    }
}

#all-custom-properties {

    p > code {
        --code-color: currentColor;
        font-size: 1em;
    }
    
    .table {
        table-layout: auto;
    }

    caption {
        caption-side: top;
    }

    th, 
    td {
        &:nth-child(1):not([colspan]) {
            width: 30%;
        }

        &:nth-child(2) {
            width: 30%;
        }

        &:nth-child(3) {
            width: auto;
        }

        &:nth-child(4) {
            width: 20%;
            max-width: 160px;
        }
    }

    td:nth-child(1) span {
        color: #f8c555;
    }

    td:nth-child(2) span {
        color: #ccc;
    }

    button[data-clipboard] {
        text-align: left;
        color: var(--primary);
        font-weight: bold;
        display: inline-block;
        
        > span {
            display: block;
        }
    }
}

.cp-header {
    --table-scroll-min-width: 800px;

    position: relative;
    
    display: flex;

    justify-content: space-between;
    align-items: center;
    
    font-size: var(--font-size-lg);
    
    font-weight: var(--font-weight-normal);
    
    padding: var(--spacer-2);

    min-width: var(--table-scroll-min-width);

    &::after {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        
        pointer-events: none;

        background-color: currentColor;
        
        opacity: 0.075;
    }
}

.cp-header__title {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-normal);
}

.cp-header__link {
    font-size: var(--font-size-sm);
}

:root {
    --accordion-padding-x: var(--spacer-2);
    --accordion-padding-y: 0.75;
}

#icon-view-toggle {

    [aria-selected="true"] {
        background-color: var(--light);
        color: var(--primary);
    }
}

.example > div {
    overflow: hidden;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgb(0 0 0 / 20%), 0 2px 0 0 rgb(255 255 255 / 70%) inset;
    color: currentColor;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

.icon-preview {
    display: grid;

    svg {
        fill: currentColor;
    }

    .one {
        grid-area: one;

        .icon {
            font-size: 8em;
        }
    }
    
    .icon {
        font-size: 2em;
    }
    
    .two { 
        grid-area: two;
    }
    
    .three { 
        grid-area: three;
    }
    
    .four { 
        grid-area: four;
    }

    .two, 
    .three,
    .four {
        padding-block: var(--spacer-2);
    }

    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
    grid-template-areas:
      "one one one"
      "two three four";

    @include breakpoints.breakpoints-up(md) {
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-auto-flow: row;
        grid-template-areas:
            "one one two"
            "one one three"
            "one one four";

        .one {
            grid-area: one;
    
            .icon {
                font-size: 14em;
            }
    
        }

        .two { 
            .icon {
                font-size: 6em;
            }
        }
    
        .three { 
            .icon {
                font-size: 4em;
            }
        }
    
        .four {
            .icon {
                font-size: 2em;
            }
        }
    }

}

// React Components 

[data-react-nav] {
    button { opacity: 0.8;}

    button.active {
        color: var(--primary) !important;
        font-weight: bold !important;
        text-decoration: underline;
        opacity: 1;
    }
}

.gv-dir {
    font-size: var(--font-size-md);
    padding: var(--spacer-2);
}

.gv-dir--top {
    margin-bottom: auto;
}

.gv-dir--right {
    writing-mode: vertical-rl;
    margin-left: auto;
}

.gv-dir--bottom {
    margin-top: auto;
}

.gv-dir--left {
    writing-mode: vertical-lr;
    margin-right: auto;
}

// doc grid

.doc-container {

    .doc-container__toc {
        border-color: inherit;
        border-block-end-width: var(--default-border-width);
        border-block-end-style: var(--default-border-style);
    }

    .doc-container__toc > .container {
        padding-block: var(--spacer-4);
    }

    @media (min-width: 1700px) {
        
        display: grid;

        .doc-container__header {
            grid-area: banner;
        }

        .doc-container__header .backdrop__cover > * {
            margin-inline-end: var(--article-sidebar-width);
        }

        .doc-container__toc {
            grid-area: toc;

            border-block-end-width: initial;
            border-block-end-style: initial;
            border-inline-start: var(--default-border-width);
            border-inline-start-style: var(--default-border-style);
        }

        .doc-container__body {
            grid-area: body;
        }

        grid-template-columns: 1fr var(--article-sidebar-width);

        grid-template-areas:
            "banner banner"
            "body toc";

        .sticky {
            position: fixed;
            right: 0;
            top: 0;
            height: 100vh;
            width: var(--article-sidebar-width);
        }
    }
}

  
  